<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Home Page</title>
</head>

<body>
    <div style="margin: auto; width: 50%;border: 3px solid green;padding: 10px;text-align: center;">
        <img src="/img/GBU.jpg" width="450" /> </br>
        </br>

        <a href="/api/employee">View all Employees</a>
    </div>

</body>

</html>